
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #999;
$gray-600: #777;
$gray-700: #495057;
$gray-800: #333;
$gray-900: #2d2d2d;
$black: #000;
$blue: #446E9B;
$indigo: #184867;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #CD0200;
$orange: #fd7e14;
$yellow: #D47500;
$green: #3CB521;
$teal: #20c997;
$cyan: #3399F3;
$primary: $blue;
$secondary: $gray-500;
$success: $teal;
$info: $cyan;
$warning: $yellow;
$danger: $purple;
$light: #eaf4fa;
$dark: $gray-800;
$body-color: $indigo;
$headings-color: $gray-900;
$navbar-dark-color: rgba($white,.75);
$navbar-dark-hover-color: $white;
$body-bg: #c7defc;
$input-bg: $light;
$enable-deprecation-messages: false;
$print-page-size: a4;
$font-family-sans-serif: "Inter",
 // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$enable-gradients: true;
$enable-shadows: true;
$input-disabled-bg: $gray-300;
$input-color: $indigo;
$form-group-margin-bottom: 1.5rem;